package ${package}.service.${moduleName}.impl;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import java.util.Map;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
##import ${mainPath}.common.utils.PageUtils;
##import ${mainPath}.common.utils.Query;

import ${package}.dao.${moduleName}.${className}Mapper;
import ${package}.entity.${moduleName}.${className};
import ${package}.service.${moduleName}.${className}Service;


@Service("${classname}Service")
public class ${className}ServiceImpl extends ServiceImpl<${className}Mapper, ${className}> implements ${className}Service {

##    @Override
##    public PageUtils queryPage(Map<String, Object> params) {
##        IPage<${className}> page = this.page(
##                new Query<${className}>().getPage(params),
##                new QueryWrapper<${className}>()
##        );
##
##        return new PageUtils(page);
##    }
    @Autowired
    private  ${className}Mapper  ${classname}Mapper;

    public PageInfo<${className}> query${className}(${className} cols,${className} pars,int pageNum, int pageSize, boolean count){
        PageHelper.startPage(pageNum, pageSize, count);
        List<${className}> list = ${className}Mapper.query${className}(cols, pars);
        return new PageInfo<${className}>(list);
    }

    public void update${className}(${className} entity) throws Exception{
            ${classname}Mapper.update${className}(entity,entity.getId());
    }
}