package ${package}.service.${moduleName};

import com.baomidou.mybatisplus.extension.service.IService;
##import ${mainPath}.common.utils.PageUtils;
import ${package}.entity.${moduleName}.${className};

import java.util.Map;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}> {

##    PageUtils queryPage(Map<String, Object> params);
    PageInfo<${className}> query${className}(${className} cols, ${className} pars, int pageNum, int pageSize, boolean count);

    void update${className}(${className} entity) throws Exception;
}

